@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Popins", sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #fff;
    color: #1e1e27;
    min-height: 100vh;
}
div{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
p {
    font-family: "Popins", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    -webkit-transition: all 200 ease;
    -moz-transition: all 200 ease;
    -ms-trainsition: all 200 ease;
    -o-transition: all 200 ease;
    transition: all 200 ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
    position: relative;
    color: #ff6347;
}
p a:hover{
    position: relative;
    color: #ff6347;
}
p a:hover::after {
    opacity: 0.2;
}
::selection{
    background: #fde0db;
    color: #ff6347;
}
p::selection{
    background: #fde0db;
}
h1{
    font-size: 72px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection{}

::-webkit-input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777 !important;
}
::-moz-input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777 !important;
}
::-ms-input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777 !important;
}
::input-plcaeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777 !important;
}
.form-control {
    color: #db5246;
}
section {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.trans_200 {
    -webkit-transition: all 200 ease;
    -moz-transition: all 200 ease;
    -ms-trainsition: all 200 ease;
    -o-transition: all 200 ease;
    transition: all 200 ease;
}
.trans_300 {
    -webkit-transition: all 300 ease;
    -moz-transition: all 300 ease;
    -ms-trainsition: all 300 ease;
    -o-transition: all 300 ease;
    transition: all 300 ease;
}
.trans_400{
    -webkit-transition: all 400 ease;
    -moz-transition: all 400 ease;
    -ms-trainsition: all 400 ease;
    -o-transition: all 400 ease;
    transition: all 400 ease;
}
.trans_500{
    -webkit-transition: all 500 ease;
    -moz-transition: all 500 ease;
    -ms-trainsition: all 500 ease;
    -o-transition: all 500 ease;
    transition: all 500 ease;
}
.fill_height{
    height: 100%
}
.super_container {
    width: 100%;
    overflow: hidden;
}
.hide {
    display: none;
    transform: translate(9999px);
    transition: all 1s linear;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: rgb(165, 164, 164);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
}

/* Advertisement */
.deal_ofthe_week {
    width: 100%;
    margin-top: 41px;
    background: #f2f2f2;
}
.deal_ofthe_week_img {
    height: 540px;
}
.deal_ofthe_week_img img {
    height: 100%;
}
.deal_ofthe_week_content{
    height: 100%;
}
.section_title {
    display: inline-block;
    text-align: center;
}
.section_title h2 {
    display: inline-block;
}
.section_title::after {
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: "";
}
.timer{
    margin-top: 66px;
}
.timer li {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
}
.timer li:last-child {
    margin-right: 0;
}
.timer_num {
    font-size: 48px;
    font-weight: 600;
    color: #fe4c50;
    margin-top: 10px;
    
}

/* Benefit */
.benefit {
    margin-top: 74px;
}
.benefit_row{
    background: #f3f3f3;
}
.benefit_col {
    padding-left: 0;
    padding-right: 0;
}
.benefit_item {
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #fff;
    padding-left: 25px;
}
.benefit_col:last-child .benefit_item {
    border-right: none;
}
.benefit_icon i {
    font-size: 30px;
    color: #fe4c50;
}
.benefit_content{
    padding-left: 22px;
}

/* CategoryBanner */
.banner {
    width: 100%;
    margin-top: 30px;
}
.banner_item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_category {
    height: 50px;
    background: #fff;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner_category a {
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    -webkit-transition: color 0.3ms ease;
    -moz-transition: color 0.3ms ease;
    -ms-transition: color 0.3ms ease;
    -o-transition: color 0.3ms ease;
    transition: color 0.3ms ease;
}
.banner_category a:hover {
    color: #b5aec4;
}

/* Footer */
footer.footer {
    margin-top: 200px;
    background: #f2f2f28a;
}
.cr {
    margin-right: 48px;
}
.footer_nav_container {
    height: 130px;
}
.footer_nav li {
    display: inline-block;
    margin-right: 45px;
}
.footer_nav li:last-child{
    margin-right: 0;
}
.footer_nav li a,
.cr {
    font-size: 14px;
    color: #51545f;
    line-height: 30px;
    -webkit-transition: all 300 ease;
    -moz-transition: all 300 ease;
    -ms-transition: all 300 ease;
    -o-transition: all 300 ease;
    transition: all 300 ease;
}
.footer_nav li a:hover,
.cr a,
.cr i {
    color: #fe4c50;
}
.footer_social {
    height: 130px;
}
.footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer_social ul li:last-child {
    margin-right: 0;
}
.footer_social ul li a {
    color: #51545f;
    -webkit-transition: all 300 ease;
    -moz-transition: all 300 ease;
    -ms-transition: all 300 ease;
    -o-transition: all 300 ease;
    transition: all 300 ease;
    padding: 10px;
}
.footer_social ul li a:last-child a {
    padding-right: 0;
}
.footer_social ul li a:hover {
    color: #fe4c50;
}

/* Heading - new_arrivals */
.new_arrivals {
    width: 100%;
}
.new_arrivals_title {
    margin-top: 74px;
}

/* HomeBanner */
.main_slider {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main_slider_content {
    width: 60%;
}
.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;

}
.main_slider_content h1 {
    font-weight: 400;
    line-height: 1;
}
.red_button {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.red_button:hover {
    background: #fe7c4f !important;
}
.red_button a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}
.shop_now_button {
    width: 140px;
    margin-top: 32px;
}

/* MobileMwnu */
.hamburger_container {
    display: none;
    margin-left: 40px;
}
.hamburger_container i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300 ease;
    -moz-transition: all 300 ease;
    -ms-transition: all 300 ease;
    -o-transition: all 300 ease;
    transition: all 300 ease;
}
.hamburger_container:hover i {
    color: #b5aec4;
}
.hamburger_menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 100vh;
    background: rgba(255, 255, 255, 0.05);
    z-index: 10;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hamburger_menu:active {
    right: 0;
}
.fs_menu_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.hamburger_close {
    position: absolute;
    top: 26px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}
.hamburger_close i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hamburger_close:hover i {
    color: #b5aec4;
}
.hamburger_menu_content {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    padding-right: 20px;
}
.menu_item {
    display: block;
    position: relative;
    border-bottom: solid 1px #b5aec4;
    vertical-align: middle;
}
.menu_item > a {
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_item > a > i {
    margin-left: 8px;
}
.menu_item.active .menu_selection {
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_selection {
    margin: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.menu_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #ddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu_selection li a:hover {
    color: #b5aec4;
}
.menu_selection li:last-child a {
    border-bottom: none;
}
.menu_selection li a:hover {
    color: #b5aec4;
}
.menu_selection li:last-child a {
    border-bottom: none;
}
